dialog.ts_modal_ujs_transaction_dialog {
  position: fixed;
  top: 20px;
  padding: 0; /* override default padding from polyfill and defer to content */
  
  /* Chrome 88 switched to fixed positioning with overflow: auto
     https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/core/html/resources/html.css;l=1212;bpv=1;bpt=0
     This breaks some of our rendering. Reverting that change here. */
  overflow: visible;
}

dialog.ts_modal_ujs_transaction_dialog > .ts_dialog_title {
  background-color: lightgrey;
  min-height: 1em;
  padding: 0.2em 1em;
}

dialog.ts_modal_ujs_transaction_dialog > .ts_dialog_body {
  display: block;
  max-height: calc(100vh - 40px - 2em);
  overflow: auto; /* is inside dialog to allow select2 dropdown to be attached to the parent dialog so they are not caught in the overflow */
}
